extends ../layout

block content
  form.form-group(method='POST' action=`/categories/${id}?_method=PUT`)
    .row
      .col-6.mx-auto
        label(for='') Name
        input#name.form-control(type='text' name='name' placeholder='Name' aria-describedby='helpId' value=category.name)
    .row
      .col-6.mx-auto
        label(for='') Image Link
        input#email.form-control(type='text' name='imgLink' placeholder='Image Link' aria-describedby='helpId' value=category.imgLink)
        button.btn.btn-primary(type="submit") Submit